*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 2em;
    display: inline-block;
}


.countdown {
    position: absolute;
    width: 300px;
    height: 2em;
    overflow: hidden;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: auto;
}

.countdown__numbers {
    position: relative;
    line-height: 2em;
    width: auto;
    text-align: center;
    animation: count 13s steps(13) infinite;
}

@keyframes count {
    0% {
        top: 0;
    }
    100% {
        top: -26em;
    }
}
